---
layout: default
title: Home
---
{% include JB/setup %}

<div class="posts">

  <!-- Each posts should be enclosed inside "entry" class" -->
  {% for post in site.posts limit:5 %}
  <div class="entry">
     <h1><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h1>

     <!-- Meta details -->
     <div class="meta">
        <i class="icon-calendar"></i> {{ post.date | date_to_string }}</span>
     </div>

     {{ post.content }}

     <p><a href="{{ BASE_PATH }}{{ post.url }}#comments">Comments...</a></p>
  </div>
  {% endfor %}

  <p>
    <a href="/archive.html" class="button">Older posts</a>
  </p>

  <div class="clearfix"></div>

</div>
