--- 
layout: post
title: CSS Mockups for Ads
published: true
meta: 
  _edit_last: "1"
  _edit_lock: "1218836590"
tags: 
- CSS
- Projects
- Rails
- Web Applications
- Web Development
- microapps
- wireframing
type: post
status: publish
---
Occasionally I need to mockup where the ads are going to go in an application (it has to pay for itself somehow, right?).  Rather than putting the ads into the application while I am still doing development, I use some simple CSS to put a placeholder where the ads will go.  In Rails, it looks like this:

<pre>
<div class="ads vertical_tower">
  <% if RAILS_ENV == 'production' -%>  
    <script>... Live Ad Code Goes Here </script>
  <% else -%>  
    Ads Go Here
  <% end -%>  
</div>
</pre>

Then I can use my simple <a href="http://www.mckinneystation.com/ad_templates/index.html">ad template CSS</a> to make it standout.  Check out <a href="http://github.com/gdagley/ad_templates">the css source on Github</a>
