--- 
layout: post
title: Adding an iPhone Interface to an Existing Rails Application
published: true
meta: 
  _edit_last: "1"
  _edit_lock: "1239208106"
tags: 
- AJAX
- CSS
- Entrepreneurial
- Rails
- Web Applications
- Web Development
- iPhone
- iUI
- pagination
type: post
status: publish
---
  <p>I have been gradually adding new features to my <a href="/http://www.stagingtracks.com">StagingTracks.com</a> website.  Really, it is a place where I can try out new things outside the office.  I have upgraded the UI to be a little cleaner by using the <a href="http://www.blueprintcss.org">Blueprint <span class="caps">CSS</span> framework</a>.  It was a easy way to normalize the <span class="caps">CSS</span> across browsers and easily implement a column-based layout.  I also added <a href="http://twitter.com/stagingtracks">Twitter notifications</a> when new shops, clubs, and shows are added and reminders for upcoming shows each week.  Does the model railroading community really need all of this?  Probably not, but it helps me keep my skillz sharp.</p>


  <h2>Finding Shops, Clubs, and Shows on your iPhone</h2>


  <p><a href="http://www.stagingtracks.com/posts/getting_started">When I built StagingTracks a few years ago</a>, I did it because I was traveling and wanted to easily find the model railroading community wherever I was.  As it has grown over the past few years, so has technology.  While it was possible to navigate the StagingTracks website using a browser on the phone, it was not optimal.  Since this is my little sandbox for experimenting, I wanted to see how difficult it would be to add an optimized iPhone interface.</p>


  <h2>Native app or Web app?</h2>


  <p>I spend my daylight hours <a href="http://www.thinkrelevance.com">developing web applications for others</a>, so it made sense that I should reuse the infrastructure that I already had in place.  I didn&#8217;t want to learn iPhone <span class="caps">SDK</span> and all that is involved with that right now and I had recently come across the <a href="http://code.google.com/p/iui/">iUi javascript and css framework</a>.  iUI can give web applications a native iPhone application feel, so I just needed to see how to incorporate it into my &#8220;legacy&#8221; Rails application.</p>


  <h2>Resources</h2>


  <p>A quick Google search for iUI and Rails turned up Ben Smith&#8217;s excellent <a href="http://www.slashdotdash.net/2007/12/04/iphone-on-rails-creating-an-iphone-optimised-version-of-your-rails-site-using-iui-and-rails-2/">iPhone on Rails</a> article.</p>


  <h3>iPhoney</h3>


  <p>Reading through the article, I downloaded <a href="http://www.marketcircle.com/iphoney/">iPhoney</a> for quick testing without an iPhone.  Be sure to use the iPhone User Agent in the iPhoney menu.</p>


  <h3>Local Subdomain for Testing</h3>


  <p>I was going to serve the iPhone version from the subdomain iphone.stagingtracks.com, so I needed to setup something similar in my local development environment.  Fortunately, this was very easy with the <a href="http://github.com/bjeanes/ghost/tree/master">Ruby Ghost gem</a> found via Robby Russell&#8217;s <a href="http://www.robbyonrails.com/articles/2009/01/12/get-to-know-a-gem-ghost">Get to know a gem: Ghost</a>.</p>


<pre>
sudo ghost add iphone.localhost.com
</pre>

  <p>We needed to add the .com so that the call to the request.subdomains will pick out the iphone portion.</p>


  <h3>iUI Framework</h3>


  <p>After downloading the iUI framework from the <a href="http://code.google.com/p/iui/">project site</a>, I moved everything into its rightful place.</p>


<pre>
public
  - stylesheets
    - iui.css
  - javascripts
    - iui.js
  - images
    - iui
      - copy all of the .gif and .png files into here
</pre>

  <p>Because I moved the images into the <code>/images/iui</code> folder, I needed to update the image locations in the iUI css.  A quick find/replace and I was ready to go.</p>


  <h2>Application changes</h2>


  <p>I won&#8217;t go into all the details since <a href="http://www.slashdotdash.net/2007/12/04/iphone-on-rails-creating-an-iphone-optimised-version-of-your-rails-site-using-iui-and-rails-2/">Ben&#8217;s article</a> hit most of the high points.  Here are the few additional bits that I came across as I was adding my iPhone interface.</p>


  <h3>Basic approach</h3>


  <p>The basic approach to adding the iphone interface is to update the controller to render the iphone partial without the layout (since everything is <span class="caps">AJAX</span>) and then create an iphone template.</p>


In posts_controller.rb change from:
<pre>
def show 
  @post = Post.find(params[:id])
end  
</pre>

  <p>to</p>

<strong>UPDATE:</strong>: format.html should come before format.iphone.  For some reason it was working for browsers that were not IE.  Weird.

<pre>
def show 
  @post = Post.find(params[:id])
  respond_to do |format|
    format.html
    format.iphone { render :layout => false }
  end
end  
</pre>

  <p>iphone template posts/show.iphone.erb:</p>


<pre>
<div class="panel" title="<%= @post.title %>" selected="true">
  <h3><%= @post.title %></h3>
  <%= render :partial => 'post.html.erb', :locals => {:post => @post} %>
</div>  
</pre>

  <h3>Search Button</h3>


  <p>Since one of the more interesing features of StagingTracks is the ability to search for organizations near you, I wanted that to be prominent.  By adding a &#8220;button&#8221; link to the toolbar, it now shows up on every page.</p>


In application.iphone.erb:
<pre>
<div class="toolbar">
  <h1 id="pageTitle"></h1>
  <a id="backButton" class="button" href="#"></a>
  <%= link_to "Search", search_path, :class => 'button' %>
</div>
</pre>

  <h3>Dynamically Growing Lists (a.k.a pagination)</h3>


  <p>Since I already had paging in place for the blog posts, I wanted to be able to reuse that, if possible.  Turns out that was pretty easy to add as well.  I needed to separate the post_items into a separate partial so that I could return the next page of <code><li>'s</code> to replace the &#8220;More news&#8230;&#8221; link (notice the target for the &#8220;More news&#8230;&#8221; link is &#8220;_replace&#8221;).</p>


In posts/index.iphone.erb
<pre>
<ul title="News" selected="true">
  <%= render :partial => 'post_items', :locals => {:posts => @posts} %>
</ul>
</pre>

In posts/_post_items.iphone.erb
<pre>
<% posts.each do |post| %>
  <li><%= link_to post.title, post %></li>
<% end %>
<%= content_tag :li, link_to("More news...", posts_path(:page => posts.next_page), :target => "_replace") if posts.next_page %>
</pre>

  <p>A quick change in the posts_controller.rb from:</p>


<pre>
def index
  @posts = Post.latest.published.paginate :page => page, :order => 'published_at desc'
end
</pre>

  <p>to:</p>

<strong>UPDATE:</strong>: Same change to the ordering of format.html and  format.iphone.  

<pre>
def index
  @posts = Post.latest.published.paginate :page => page, :order => 'published_at desc'
  respond_to do |format|
    format.html
    format.iphone do
      if page == 1
          render :layout => false
        else
          render :layout => false, :partial => "post_items", :locals => {:posts => @posts}
      end
    end
  end
end
</pre>

  <h3>Styling Form Select Inputs</h3>


  <p>My search form has a dropdown for choosing the country that you want to search.  By default, this did not look very nice.  Since it didn&#8217;t need a label, I just left it out in the form and added some additional <span class="caps">CSS</span>.</p>


  <p>In search/index.iphone.erb</p>


<pre>
<% form_tag(search_path, :class => 'panel', :title => 'Search')  do %>
  <h2>Find Local Shops, Clubs, and Shows</h2>

  <%= content_tag :p, flash[:error], :class => 'error' if flash[:error] %>

  <fieldset>
    <div class="row">
      <%= country_select :search, :country, ['United States', 'Canada'], {} %>
    </div>  

    <div class="row">
      <label for='search_city'>City</label>
      <input type="text" value="" name="search[city]" id="search_city"/>
    </div>

    <div class="row">
      <label for='search_state'>State</label>
      <input type="text" value="" name="search[state]" id="search_state"/>
    </div>
  </fieldset>
  <%= link_to "Submit", "#", :class => 'whiteButton', :type => "submit" %>
<% end %>
</pre>

  <p>And in my extra iphone.css (anything else that I needed to add to iui.css)</p>


<pre>
.row > select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    border: none;
    padding: 0;
    height: 42px;
    background: none;
    font-size: 16px;
    width: 100%;
}

.error {
  font-weight: bold;
  color: #8a1f11;
  margin-left: 14px;
}
</pre>

  <h2>Conclusion</h2>


  <p>All told, I probably spent less than eight hours over a couple of nights adding a simple iPhone interface to my existing application.  I still want to look in to modifying the <span class="caps">CSS</span> more to have it look more like the regular StagingTracks website, but that can come later.  This was a fun little experiment.</p>
