<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Title -->
    <title>{{ site.title }} : {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Description, Keywords -->
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Google web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>

    <!-- Stylesheets -->
    <link href="{{ ASSET_PATH }}/style/bootstrap.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/style/flexslider.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/style/prettyPhoto.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ ASSET_PATH }}/style/font-awesome.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="{{ ASSET_PATH }}/style/font-awesome-ie7.css">
    <![endif]-->
    <link href="{{ ASSET_PATH }}/style/style.css" rel="stylesheet">
  <!-- Color Stylesheet - orange, blue, pink, brown, red or green-->
    <link href="{{ ASSET_PATH }}/style/green.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/style/jquery.githubwidget.min.css" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/style/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
    <script src="{{ ASSET_PATH }}/js/html5shim.js"></script>
    <![endif]-->

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ ASSET_PATH }}/img/favicon/favicon.ico">
  </head>

  <body>

  <!-- Header starts -->

  <header>
     <div class="container">
        <div class="row">
           <div class="span4">
              <!-- Logo and site link -->
              <div class="logo">
                 <h1><a href="{{ HOME_PATH }}">{{ site.title }}</a></h1>
              </div>
           </div>
        </div>
     </div>
  </header>

  <!-- Header ends -->

  <!-- Navigation Starts -->

  <!-- Note down the syntax before editing. It is the default twitter bootstrap navigation -->

     <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              Menu
            </a>
            <div class="nav-collapse">
              <!-- Navigation links starts here -->
              <ul class="nav">
                <li><a href="/apps.html">Apps</a></li>
                <li><a href="/pages.html">Pages</a></li>
                <li><a href="/tags.html">Tags</a></li>
                <li><a href="/archive.html">Archive</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

  <!-- Navigation Ends -->

  <!-- Content strats -->

  <div class="content">
     <div class="container">
        <div class="row">
           <div class="span12">

              <!-- Blog starts -->

              <div class="blog">
                 <div class="row">
                    <div class="span12">

                       <!-- Blog Posts -->
                       <div class="row">
                          <div class="span8">
                            {{ content }}
                          </div>
                          <div class="span4">
                             <div class="sidebar">
                                <!-- Widget -->
                                <div class="widget">
                                   <h4>About</h4>
                                   <p>Geof has been a rocket scientist, an ERP software engineer, a programming instructor, a web developer, and a game programmer. Now he is <a href="http://www.linkedin.com/in/gdagley">not sure what he wants to do</a>. So many ideas, so little time.</p>
                                </div>
                                <div class="widget">
                                   <h4>Apps</h4>
                                   <p class="center">
                                    <a href="/apps.html" title="mibpi"><img src="/assets/img/mibipi_icon.png"></a>
                                    <a href="/apps.html" title="catechizeMe"><img src="/assets/img/catechizeme_icon.png"></a>
                                    <a href="/apps.html" title="Pray For Your Wife: 31 Day Challenge"><img src="/assets/img/p4w31_icon.png"></a>
                                    <a href="/apps.html" title="Faith Group"><img src="/assets/img/faithgroup_icon.png"></a>
                                   </p>
                                </div>
                                <div class="widget">
                                  <h4>Twitter: <a href="http://twitter.com/gdagley">@gdagley</a></h4>
                                  <a class="twitter-timeline" href="https://twitter.com/gdagley" data-widget-id="392679329588473857">Tweets by @gdagley</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                                </div>
                                <div class="widget">
                                  <h4>Github: <a href="https://github.com/gdagley">gdagley</a></h4>
                                  <div id="ghw"></div>
                                </div>
                             </div>
                          </div>
                       </div>



                    </div>
                 </div>
              </div>


              <!-- Service ends -->

           </div>
        </div>
     </div>
  </div>

  <!-- Content ends -->

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="span12">
          <p class="copy">
             <!-- Copyright information. You can remove my site link. -->
             Copyright &copy; <a href="/">{{ site.title }}</a>
           </p>
         </div>
      </div>
    </div>
  </footer>

  <!-- JS -->
  <script src="{{ ASSET_PATH }}/js/jquery.js"></script>
  <script src="{{ ASSET_PATH }}/js/bootstrap.js"></script>
  <script src="{{ ASSET_PATH }}/js/jquery.flexslider-min.js"></script>
  <script src="{{ ASSET_PATH }}/js/jquery.isotope.js"></script>
  <script src="{{ ASSET_PATH }}/js/jquery.prettyPhoto.js"></script>
  <script src="{{ ASSET_PATH }}/js/filter.js"></script>
  <script src="{{ ASSET_PATH }}/js/jquery.tweet.js"></script>
  <script src="{{ ASSET_PATH }}/js/jquery.githubwidget.min.js"></script>
  <script src="{{ ASSET_PATH }}/js/custom.js"></script>
  {% include JB/analytics %}
  </body>
</html>
