<div class="posts">

  <!-- Each posts should be enclosed inside "entry" class" -->
  <!-- Post one -->
  <div class="entry">
     <h1><a href="{{ BASE_PATH }}{{ post.url }}">{{ page.title }}</a></h1>

     <!-- Meta details -->
     <div class="meta">
        <i class="icon-calendar"></i> {{ page.date | date_to_string }}</span>
     </div>

     {{ content }}
  </div>

  <div class="well">

     <!-- Tags -->
     <div class="tags">
        {% unless page.tags == empty %}
          <h5>Tags</h5>
          {% for tag in page.tags %}
            <a href="{{ BASE_PATH }}{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }}</a>
          {% endfor %}
        {% endunless %}
     </div>
     <div class="clearfix"></div>
  </div>

  <hr />

  <!-- Comment section -->

  <div id="comments" class="comments well">
    {% include JB/comments %}
  </div>

  <!-- Navigation -->

  <div class="navigation button">
    <div class="pull-left"><a href="#">&laquo; Previous Post</a></div>
    <div class="pull-right"><a href="#">Next Post &raquo;</a></div>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix"></div>
</div>

